/* Background color */
.appview-container {
  background: #f2e9e4;
}

/* Header Image */
header[data-testid="stHeader"] {
  background: url('https://raw.githubusercontent.com/FedericoGriggio/music_similarity/master/images/5F4DB61F-CAD9-4E05-AD8E-177DFBE27CF9.jpeg');
  height: 10.875rem
}

/* Main content placement */
.block-container {
  padding: 12rem 1rem 10rem
}

h2 {
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
  color: #968b94;
  letter-spacing: -0.005em;
  padding: 1rem 0px;
  margin: 0px;
  line-height: 1.2;
}
p, ol, ul, dl {
  margin: 0px 0px 1rem;
  padding: 0px;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Source Code Pro", monospace;
  color: #9a8c98;
}

body {
  color: #fff;
  background-color: #9a8c98;
}

.stbutton>button {
  color:#9a8c98;
  border-radius: 50%;
  height: 3em;
  width:3em;
}

.stTextInput>div>div>input {
  color:#9a8c98;
}

.css-15tx938 {
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
  color: #968b94;
  font-weight: 600;
  margin-bottom: 0.5rem;
  height: auto;
  min-height: 0rem;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
}


.css-1cpxqw2 {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-weight: 400;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  margin: 0px;
  line-height: 1.6;
  width: auto;
  user-select: none;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(49, 51, 63, 0.2);
  color:#9a8c98;
  font-family: "Source Code Pro", monospace;
}

.stTextInput>div>div>input {
  color: #9a8c98;
  font-family: "Source Code Pro", monospace;
}
